.TransactionForm {
    color: white;
    margin-top: 40px;
}

.FormBannerImage {
    height: 100%;
    width: 100%;
}

.TransactionAlert {
    position: absolute;
    z-index: 30;
    margin-top: -80px;
}

.BtnSubmit {
    background-color: #FC0400;
    color: white;
    border:none;
    width: 200px;
    border-radius: 0;
    margin-top: 40px;
}

.TransactionForm>.form-group {
    margin-top: 40px;
}
.TransactionForm>.form-group>input {
    margin-top: 10px;
}

.TransactionForm>p {
    margin-top: 10px;
    cursor: pointer;
}

.GradientImage {
    height: 100%;
    z-index: 2;
    position: absolute;
    width: 100%;
    opacity: 1;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, black 0%, transparent 200%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

#TransactionFormContainer {
    margin-top: 10%;
    color: white;
    width: 100%;
}

@media (min-width: 1296px) {  
    #TransactionFormContainer {
        margin-top: 10%;
        margin-left: 12%;
        color: white;
        width: 100%;
    }
}
