.MetaMosaic {
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(45deg, black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.Meta {
    margin-top: 200px;
    height: 200px;
    width: 100%;
}

.Meta>h1 {
    color: #212529;
    font-weight: lighter;
    font-family: roboto;
}

.SlotPoint {
    margin-top: 100px;
    border-left: 4px solid black;
    border-top: 10px solid black;
    border-right: 4px solid black;

    height: 300px;
    cursor: pointer;
    
}

.DataSlot::before {
    opacity: 0.4;
}

.CarImage {
    transition: opacity 1.5s;
    opacity: 0;
    height: 100%;
    width: 200px;
    margin-top:  5px;
    margin-right: -20px;
    z-index: -2;
}

.DisplayImage {
    opacity: 1;
    transition: opacity 1.5s;
}

.DataSlot {
    background-color: black;
    opacity: 0.8;
    margin-top: -175px;
    color: white;
    height: 135px;
    padding-top: 15px;
}

.DataSlot>p {
    line-height: 10px;
    opacity: 1;
}

.SetDataSlotOnActive {
    background-color: black;
    z-index: 2!important;
    position: relative;
    top: 0!important;
    margin-top: -150px;
}

.RentButton>button {
    border: none;
    background-color: #FC0400;
    color: white;
}

.AcceptTransactionSpace {
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    justify-content: center;
    opacity: 0.8;
}

.AcceptTransactionSpaceTransformation {
    height: 100%!important;
    transition: height 2s;
}

.AcceptTransactionButton {
    background-color: white;
    border: none;
    height: 40px;
    width: 300px;
    margin-top: 30px;
    font-family: roboto;
}

.ZeroOpacity {
    transition: opacity 1,5s;
    opacity: 0;
    display: none;
}

.TotalOpacity {
    transition: opacity 1,5s;
    opacity: 1;
    display: block;
}

@media (min-width: 1200px) {
    .CarImage {
        margin-left: -25px;
    }
}

@media (min-width: 991) {
    .CarImage {
        margin-left: -50px;
    }
}