.LogoImage {
    height: 45px;
    width: 310px;
}

.FigureLogo {
    margin-top: 20px;
    left: 0;
}

.navbar {
    background-color: black!important;
    font-family: roboto;
    font-size: 14px;
}

.NavButton {
    background-color: transparent;
    border: none;
}

@media (min-width: 992px) {
    .Navbar {
        background-color: black!important;
    }
    
    .navbar {
        text-align: left;
        justify-content: left;
        background-color: black!important;
        height: 180px;
        border-bottom: 2px solid white;
    }
    
    .FigureLogo {
        margin-top: -31px;
        width: 100%;
        height: 60px;
        display: block;
        float: left;
        justify-content: center;
        position: absolute;
        text-align: center;
    }
    
    .collapse {
        width: 100%;
        padding-bottom: 15px;
        background-color: black;
        position: absolute;
        margin-top: 120px;
        display: inline-block!important;
        float: left!important;
        justify-content: center;
        left: 0;
    }

    .nav-item {
        margin-left: 15px;
        cursor: pointer;
        border-top: 4px solid black;
    }

    .nav-link {
        color: white!important;
    }

    .nav-link:hover {
        color: #FC0400!important;
    }

    .nav-item:hover {
        border-top: 4px solid #FC0400;
    }

    .nav-item:focus {
        border-top: 4px solid #FC0400;
    }
  }